# config file for travis-ci

language: python
sudo: false

matrix:
  fast_finish: true
  include:
    - python: 3.4
      env:
        - JOB: 'UNITTEST'
        - FULL_DEPS: true
    - python: 3.5
      env:
        - JOB: 'UNITTEST'
        - FULL_DEPS: true
    - python: 3.6
      env:
        - JOB: 'UNITTEST'
        - FULL_DEPS: true
    - python: 3.6
      env:
        - JOB: 'DOCS'
        - FULL_DEPS: true
    - python: 3.6
      env:
        - JOB: 'LINT'
        - FULL_DEPS: false

cache: pip

notifications:
  email: false

# miniconda recipe
# http://conda.pydata.org/docs/travis.html#using-conda-with-travis-ci
before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda config --add channels conda-forge
  # Useful for debugging any issues with conda
  - conda info -a

install:
  # Dependencies
  - conda create -q -n pybroom-test python=$TRAVIS_PYTHON_VERSION
  - source activate pybroom-test
  - |
    if [[ "$FULL_DEPS" ]]; then
      conda install scipy pandas lmfit
      pip install -e .
    fi
  - |
    if [[ "$JOB" == "UNITTEST" ]]; then
      conda install pytest-cov
      pip install coveralls
    elif [[ "$JOB" == "DOCS" ]]; then
      pip install sphinx sphinx_rtd_theme nbsphinx
    elif [[ "$JOB" == "LINT" ]]; then
      pip install flake8
    fi
  # List all conda and pip packages
  - conda list

script:
  - |
    if [[ "$JOB" == "UNITTEST" ]]; then
      make test
    elif [[ "$JOB" == "DOCS" ]]; then
      pushd doc
      make html SPHINXOPTS=-W
      popd
    elif [[ "$JOB" == "LINT" ]]; then
      make lint
    fi

after_success:
  - coveralls --rcfile=.coveragerc
